@{
    Layout = "_LandingPage";
}

<div class="container">
    <div class="split left">
        <h1>Registered Users</h1>
        <a asp-controller="Platform" asp-action="Index" class="button">Sign In</a>
    </div>
    <div class="split right">
        <h1>Guest</h1>
        <a asp-controller="Admin" asp-action="Index" class="button">Sign In</a>
    </div>

</div>